body {
  background-image: url();
}

.sidebar {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #ADD8E6;
  text-indent: 5px;
  font-size: 20px;
}

h1 {
  color: crimson;
  text-transform: uppercase;
  text-decoration: underline;
}

h4 {
  font-family: monospace;
  text-decoration: underline;
  text-transform: capitalize;
  font-size: 20px;

}

.container img {
  border-radius: 50px;
  width: 250px;
   background: #73AD21;
   padding: 20px;
   width: 200px;
   height: 150px;
}
.container:hover {
  color: blue;

}

body {
  background-image: url(http://thumb7.shutterstock.com/display_pic_with_logo/947257/271137329/stock-vector-vector-brick-wall-texture-background-grunge-distress-sketch-stamp-overlay-effect-texture-271137329.jpg);
}
