body {
  background-image: url();
}

.sidebar {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #ADD8E6;
  text-indent: 5px;
  font-size: 20px;
}

h1 {
  color: crimson;
  text-transform: uppercase;
  text-decoration: underline;
}

h4 {
  font-family: monospace;
  text-decoration: underline;
  text-transform: capitalize;
  font-size: 20px;

}

img {
  border-radius: 80px;
  width: 250spx;
  height: auto;
}

body {
  background-image: url(https://overheadproductions.files.wordpress.com/2013/06/sequence-01-still0064.jpg);
}
